html, body {
  margin: 0;
  padding: 0;

/* BACKGROUND */
/* background credit: https://unsplash.com/photos/rhaS97NhnHg */
background: url(assets/brick.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


/* font */
font-family: 'Chicle', cursive;
}

canvas {
  display: block;
}

h1{
  text-align: center;
  font-size: 85px;
  color: pink;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
 font-family: 'Chicle' cursive;
}

h3{
  text-align: center;
  font-size: 35px;
  color: black;
  margin-left: 100px;
  margin-right: 100px;
  -webkit-text-stroke-width: .9px;
 -webkit-text-stroke-color: white;
 font-family: lato;
}

/* .rectangle{
  background-color: #e6e6e6;
  width: 350px;
  height: 100px;
  margin-left: 500px;
  margin-top: 100px;

} */

/* test */
/* Add a black background color to the top navigation */
.topnav {
  background-color: pink;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightblue;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: cream;
  color: white;
}

/* test end */

.music{
  position: absolute;
  bottom: 0;
  left: 2%;
}

.button1 {
position: absolute;
bottom: 60;
left: 45%;
}

.button2{
  position: absolute;
  bottom: 0;
  left: 45%;
}

.btn {
  border: 1px solid white;
  padding: 10px 30px;
  color: pink;
  text-decoration: none;
  margin-right: 5px;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
  margin-bottom: 25px;
}

.btn-one {
  padding: 12px 28px;
  ffont-family: 'Chicle', cursive;
}

.btn-one:hover {
  color: pink;
  background-color: white;
  transition: all 0.5s ease-in;
}

.btn-two {
  padding: 12px 28px;
  font-family: 'Chicle', cursive;
}

.btn-two:hover {
  color: pink;
  background-color: white;
  transition: all 0.5s ease-in;
}
